.boardCard {
  width: 23%;
  margin: 0 2% 2% 0;
  position: relative;
  height: 96px;
  border-radius: 3px;
  padding: 8px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: rgba(gray, 0.8);
  &:hover::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(black, 0.08);
  }
  .name {
    display: block;
    color: #fff;
    line-height: 22px;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    z-index: 3;
    position: relative;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}
