$bg: #026aa7;
$height: 40px;
$padding: 4px;

.header {
  background-color: $bg;
  height: $height;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  position: relative;
  .col {
    display: flex;
    align-items: center;
    min-height: calc(#{$height} - (#{$padding} * 2));
    width: calc(50% - 40px - #{$padding} / 2);
    .btn:not(:first-child) {
      margin-left: 4px;
    }
    &:last-child {
      justify-content: flex-end;
    }
  }
  .logo {
    display: block;
    width: 80px;
    height: auto;
  }
  .searchWrap {
    margin-left: 4px;
    position: relative;
  }
  .boardsWrap {
    max-height: calc(100vh - 48px);
    padding: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    min-width: 380px;
    max-width: 600px;
    background-color: #f4f5f7;
    border-radius: 4px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
      0 0 0 1px rgba(9, 30, 66, 0.08);
    .boards {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .empty {
      display: block;
      text-align: center;
      padding: 15px 0;
      font-size: 14px;
    }
    .board {
      width: calc(50% - 2px);
      margin-bottom: 4px;
      border-radius: 4px;
      position: relative;
      cursor: pointer;
      &.full {
        width: 100%;
      }
      &:hover {
        &::before {
          background: transparent;
        }
        .name {
          background: rgba(white, 0.7);
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 36px;
        z-index: 3;
        background: rgba(white, 0.3);
      }
      .name {
        height: 36px;
        display: flex;
        align-items: center;
        width: calc(100% - 36px);
        margin-left: 36px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        background: rgba(white, 0.8);
        padding-left: 9px;
        font-size: 14px;
        font-weight: bold;
        color: #172b4d;
      }
    }
  }
}
