$bg: hsla(0, 0%, 100%, 0.3);
$bg_hover: hsla(0, 0%, 100%, 0.2);

.fieldInlineWrap {
  position: relative;
  &.focused {
    .field {
      width: 380px;
      padding-right: 54px;
      background-color: #fff;
      color: #172b4d;
    }
    .btns svg path {
      fill: rgb(66, 82, 110);
    }
  }
  .field {
    background-color: $bg;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    height: 32px;
    padding-left: 8px;
    padding-right: 30px;
    transition: width 0.15s;
    width: 184px;
  }
  .btns {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    display: flex;
    align-items: center;
    svg {
      path {
        fill: white;
      }
    }
    span {
      display: block;
      cursor: pointer;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.arrow {
        width: 20px;
      }
    }
  }
  &:hover {
    .field {
      background-color: $bg_hover;
    }
    &.focused {
      .field {
        background-color: white;
      }
    }
  }
}
